# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
data/results/*
!data/results/.gitkeep
data/saved_configs/*
!data/saved_configs/.gitkeep